html {
	color: #fff;
	background: #000;
	padding: 2em 0;
}
body {
	width: 80%;
	margin: 0 auto;
	text-align: center;
}
#block {
	font-size: 20em;
	border: 5px #fff solid;
	margin: .04em 0;
}
#error {
	font-size: 5em;
	letter-spacing: .5em;
	padding-left: 1em;
}
#nothing {
	font-size: 2em;

}
